/*
    black: #262626; // 90%
    black: #0d0d0d; // 95%

*/
///////////////////////////////////////
//// GLOBAL STYLES
///////////////////////////////////////
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #0d0d0d;
    color: #fff;
}

li {
    list-style-type: none;
}

/* ICON FONTS */
.fa {
    font-size: 1.125em;
}

a {
    color: #fff;
    text-decoration: none;
}

/*/////////////////////////////////
//// HEADER
/////////////////////////////////*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

header div {
    width: 33.3%;
}

header .logo-container {
    display: flex;
    width: 33.3%;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 40px;
}

header nav {
    width: 33.3%;
    display: flex;
    justify-content: flex-end;
}


/*/////////////////////////////////
//// HERO PIC SECTION
/////////////////////////////////*/

.column-padding {
    padding: 0 5px;
}

.hero-container {
    display: flex;
}

.hero-pic-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 600px;
}

.hero-pic-section img {
    max-width: 100%;
    margin-bottom: 10px;
    transition: all .1s ease;
}

.hero-pic-section img:hover {
    /*background: black;*/
    opacity: .5;
}
